body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: #045f18;
    color: rgb(12, 12, 11);
    padding: 10px 20px;
}

.logo {
    height: 150px; 
    margin-right: 30px;
}

h1 {
    margin: 1;
    font-family: Verdana;
}


nav ul {
    list-style: none;
    padding: 0;
    font-family: Impact;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: rgb(16, 15, 15);
    text-decoration: none;
} 
p {
    text-align: center;
  } 
  .bridal {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 20px 0; 
    
  }
  .Towing {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 20px 0; 
    
 
  }
  .trucking {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 20px 0; 
    
 
  }

  .equipment {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 20px 0; 
    
 
  }

  
  .construction {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 20px 0; 
    
 
  }



  .furniture {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 20px 0; 
    
 
  }



  .auto-parts {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 20px 0; 
    
 
  }



  .contact {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 20px 0; 
    
 
  }
